<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <title>Document</title>
  <link href="/assets/common.css" rel="stylesheet" />
  <link href="/assets/article.css" rel="stylesheet" />
  <link href="/assets/code-styles.css" rel="stylesheet" />
  {{ if .LiveReload }}
    <script src="/assets/livereload.js"></script>
  {{ end }}
</head>
<body>
  <main>
    <article class="article-page">
      <header class="article-page__header">
        {{ if .Title.Valid }}
          <h1>{{ .Title.String }}</h1>
        {{ end }}
        {{ if .Date.Valid }}
          <p class="article-page__header--footer">
            <span class="article-page__header--date">{{ .Date.Time.Format "January 2, 2006" }}</span>
          </p>
        {{ end }}

      </header>
      <main class="article-page__content">
        {{ .HTML }}
      </main>
    </article>
  </main>  
</body>
</html>