<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <title>Document</title>
  <link href="/assets/common.css" rel="stylesheet" />
  <link href="/assets/article.css" rel="stylesheet" />
  <link href="/assets/code-styles.css" rel="stylesheet" />
  {{ if .LiveReload }}
    <script src="/assets/livereload.js"></script>
  {{ end }}

  <!-- KaTex -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css" integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js" integrity="sha384-J+9dG2KMoiR9hqcFao0IBLwxt6zpcyN68IgwzsCSkbreXUjmNVRhPFTssqdSGjwQ" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
  <!-- end of KaTex -->
</head>
<body>
  <main>
    <article class="article-page">
      <header class="article-page__header">
        {{ if .Title.Valid }}
          <h1>{{ .Title.String }}</h1>
        {{ end }}
        {{ if .Date.Valid }}
          <p class="article-page__header--footer">
            <span class="article-page__header--date">{{ .Date.Time.Format "January 2, 2006" }}</span>
          </p>
        {{ end }}

      </header>
      <div class="article-page__content">
        {{ .HTML }}
      </div>
    </article>
  </main>  
</body>
</html>